.div-inner-left-manager-second {
    height: 100px;
    background-color: white;
    width: 50%;
    font-family: Antonio, serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
    background-color: #322424;
}

.div-inner-right-manager-second {
    height: 100px;
    width: 50%;
    font-family: Antonio, serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem 1rem 0;
}

.dark-blue-background {
    background-color: #111E2B;
}

.dark-red-background {
    background-color: #581919;
}
td {
    padding: 0.5rem;
}
.cell-blue {
    background-color: #7FABED23;
}

.cell-brown {
    background-color: #81787840;
}

.div-cards {
    display: flex;
    gap: 4%;
    justify-content: center;
    color: white;
    font-family: Montserrat, serif;
    padding-top: 2rem;
}