.footer {
    display: flex;
    background-color: #0F0F0F;
    height: 7rem;
    justify-content: space-evenly;
}

.footer-list-item {
    display: block;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 1px;
    list-style: none;
    margin: 0 3rem;
    text-decoration: none;
}


