.svg-div {
    width: 80px;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.svg-div:hover {
    cursor: pointer;
}

.btn-green {
    background-color: #6EFF3C;
}

.btn-yellow {
    background-color: #FFF171;
}

.login-input-password {
    font-family: Roboto, serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 1rem;
    width: 345px;
    height: 40px;
    color: black;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;

}

.span-status-show {
    font-family: Montserrat, serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    background-color: transparent;
}