.svg-div {
    width: 80px;
    background-color: #6EFF3C;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-right: 7rem;
}

.login-input-password {
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 1rem;
    width: 345px;
    height: 40px;
    color: black;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    margin-left: 2rem;
}