.login-container {
    display: flex;
    height: 80vh;
    background-color: #0F0F0F;
    align-items: center;
    justify-content: center;
}

label {
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: white;
}

.span-mandatory {
    font-family: Roboto, serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 5rem;
}


svg {
    background-color: #6EFF3C;
    margin-top: 0.7rem;
}

.div-for-input {
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
    justify-content: end;
}

.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}