
.div-card {
    display: flex;
    width: 50%;
    border: 1px solid #FFFFFF31;
    transition: box-shadow 0.3s;
}

.div-card:hover {
    box-shadow: 0 0 8px 1px white;
    cursor: pointer;
}

.div-inner-left {
    height: 100px;
    background-color: white;
    min-width: 150px;
    font-family: Antonio, serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
}

.div-inner-right {
    height: 100px;
    width: calc(100% - 150px);
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem 1rem 0;
}

@media (min-width: 1440px) {
    .div-card {
        width: 45%;
    }

    .div-inner-left {
        height: 80px;
        min-width: 130px;
        font-size: 3rem;
        padding-top: 0.5rem;
    }

    .div-inner-right {
        height: 80px;
        width: calc(100% - 130px);
        font-size: 1rem;
        padding: 1.25rem 1rem 1rem 0;
    }
}

@media (min-width: 1920px) {
    .div-card {
        width: 40%;
    }

    .div-inner-left {
        height: 100px;
        min-width: 150px;
        font-size: 4rem;
        padding-top: 0.5rem;
    }

    .div-inner-right {
        height: 100px;
        width: calc(100% - 150px);
        font-size: 1.25rem;
        padding: 1.5rem 1rem 1rem 0;
    }
}

@media (min-width: 2200px) {
    .div-card {
        width: 30%;
    }
}


.green {
    background-color: #6EFF3C50;
}
.magenta {
    background-color: #E43CFF50;
}

.blue {
    background-color: #4BDFFF65;
}

.yellow {
    background-color: #FFF171;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}