.whole-card-left-section {
    min-height: 50vh;
    background-color: #0F0F0F;
    width: 30%;
}

.div-card-manager-left {
    display: flex;
    width: 100%;
    border: 1px solid #322424;
    transition: box-shadow 0.3s;
    margin-bottom: 5rem;
}

.div-inner-left-manager-first {
    height: 100px;
    background-color: white;
    min-width: 150px;
    font-family: Antonio, serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #322424;
}

.div-inner-right-manager-first {
    height: 100px;
    width: calc(100% - 150px);
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    color: white;
    text-align: start;
    padding: 1.75rem 0.75rem 0;
}